@use "colors" as c;
@use "fonts";
@use "sections";
@use "headline";

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: c.$lightGray;
}

nav {
    background-color: c.$White;
    -webkit-box-shadow: 0px 0px 23px 4px rgba(0,0,0,0.57); 
    box-shadow: 0px 0px 23px 4px rgba(0,0,0,0.57);
    padding: 2em 4em;

    img {
        width: 100px;
        margin: 3em 2em 0 0;
    }

    a {
        text-decoration: none;
        font-family: bold;
        color: c.$coolGray;
        font-size: 20px;
        margin: 0 2em;
    }    
    .redA {
        color: c.$redCrossRed;
    }
}

main {
    max-width: 1350px;
    margin: auto;
    background-color: c.$White;
}

.imgSectionOne {
    @include sections.imgSectionOne;
}

.imgSectionTwo {
    @include sections.imgSectionTwo;
}

.imgSectionThree {
    @include sections.imgSectionOne;


        padding: 0;
        display: flex;
        justify-content: flex-end;

    div {
        max-width: 40%;
        padding-top: 6em;
    }

    p {
        color: c.$White;
        margin-top: 4em;
        font-family: light;
    }

    input {
        padding: 0.8em 0.3em;
        margin: 0 0.5em 0 0;
        font-size: 1em;
        max-width: 20%;
        border: 1px solid c.$mediumGray;
        border-radius: 3px;
        margin-top: 2em;
    }

    select {
        padding: 0.7em 1em;
        font-family: light;
        font-size: 1em;
        margin-right: 0.5em;
        border-radius: 3px;
        margin-top: 2em;
    }
}

.sectionOne {
    @include headline.headlines;

    text-align: center;
    
    .gallrey {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        text-align: center;
        padding: 0 5em;
    }

    div {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 2em;
    }

    img {
        margin-top: 3em;
        display: block;
        max-width: 200px;
    }
}
