@font-face {
  font-family: bold;
  src: url(/fonts/Akzidenz-grotesk-bold.ttf);
}
@font-face {
  font-family: light;
  src: url(/fonts/Akzidenz-grotesk-light.ttf);
}
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #D7D7D8;
}

nav {
  background-color: #FFFFFF;
  box-shadow: 0px 0px 23px 4px rgba(0, 0, 0, 0.57);
  padding: 2em 4em;
}
nav img {
  width: 100px;
  margin: 3em 2em 0 0;
}
nav a {
  text-decoration: none;
  font-family: bold;
  color: #6D6E70;
  font-size: 20px;
  margin: 0 2em;
}
nav .redA {
  color: #ED1B2E;
}

main {
  max-width: 1350px;
  margin: auto;
  background-color: #FFFFFF;
}

.imgSectionOne section {
  position: relative;
}
.imgSectionOne img {
  width: 100%;
  margin-bottom: 0.5em;
}
.imgSectionOne div {
  position: absolute;
  padding: 3em 2em;
}
.imgSectionOne div h2 {
  font-size: 3vw;
  font-family: bold;
  color: #FFFFFF;
}
.imgSectionOne div h3 {
  font-size: 2vw;
  font-family: light;
  color: #FFFFFF;
}
.imgSectionOne div button {
  background-color: #ED1B2E;
  font-size: 1.25em;
  font-family: bold;
  color: #FFFFFF;
  border: 0px;
  border-radius: 3px;
  padding: 0.6em 1.4em;
  margin: 2em 0 0 0;
}
.imgSectionOne div input::-webkit-outer-spin-button,
.imgSectionOne div input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.imgSectionTwo section {
  position: relative;
  margin-bottom: 2em;
}
.imgSectionTwo img {
  width: 100%;
  margin-bottom: 0.5em;
}
.imgSectionTwo div {
  position: absolute;
  max-width: 40%;
  padding: 3em 2em;
}
.imgSectionTwo div h2 {
  font-size: 3.5vw;
  font-family: bold;
  color: #000000;
}
.imgSectionTwo div h3 {
  font-size: 2vw;
  font-family: light;
  color: #000000;
}
.imgSectionTwo div button {
  background-color: #ED1B2E;
  font-size: 1.25em;
  font-family: bold;
  color: #FFFFFF;
  border: 0px;
  border-radius: 3px;
  padding: 0.5em 1.2em;
  margin: 2em 0 0 0;
}
.imgSectionTwo div input::-webkit-outer-spin-button,
.imgSectionTwo div input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.imgSectionTwo div input {
  padding: 0.25em 1.8em 0.25em 0.3em;
  margin: 0 1em 0 0;
  font-size: 1.5em;
  max-width: 30%;
  border: 1px solid #9F9FA3;
  border-radius: 3px;
}
.imgSectionTwo div ::-moz-placeholder {
  padding: 0.2em 0.2em;
}
.imgSectionTwo div :-ms-input-placeholder {
  padding: 0.2em 0.2em;
}
.imgSectionTwo div ::placeholder {
  padding: 0.2em 0.2em;
}
.imgSectionTwo div p {
  font-family: light;
  font-size: 0.75em;
  margin: 4em 0 0 0;
}

.imgSectionThree {
  padding: 0;
  display: flex;
  justify-content: flex-end;
}
.imgSectionThree section {
  position: relative;
}
.imgSectionThree img {
  width: 100%;
  margin-bottom: 0.5em;
}
.imgSectionThree div {
  position: absolute;
  padding: 3em 2em;
}
.imgSectionThree div h2 {
  font-size: 3vw;
  font-family: bold;
  color: #FFFFFF;
}
.imgSectionThree div h3 {
  font-size: 2vw;
  font-family: light;
  color: #FFFFFF;
}
.imgSectionThree div button {
  background-color: #ED1B2E;
  font-size: 1.25em;
  font-family: bold;
  color: #FFFFFF;
  border: 0px;
  border-radius: 3px;
  padding: 0.6em 1.4em;
  margin: 2em 0 0 0;
}
.imgSectionThree div input::-webkit-outer-spin-button,
.imgSectionThree div input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.imgSectionThree div {
  max-width: 40%;
  padding-top: 6em;
}
.imgSectionThree p {
  color: #FFFFFF;
  margin-top: 4em;
  font-family: light;
}
.imgSectionThree input {
  padding: 0.8em 0.3em;
  margin: 0 0.5em 0 0;
  font-size: 1em;
  max-width: 20%;
  border: 1px solid #9F9FA3;
  border-radius: 3px;
  margin-top: 2em;
}
.imgSectionThree select {
  padding: 0.7em 1em;
  font-family: light;
  font-size: 1em;
  margin-right: 0.5em;
  border-radius: 3px;
  margin-top: 2em;
}

.sectionOne {
  text-align: center;
}
.sectionOne h2 {
  font-family: bold;
  font-size: 3.25em;
}
.sectionOne h3 {
  font-family: light;
  font-size: 1.7em;
  margin-bottom: 1.5em;
  color: #6D6E70;
}
.sectionOne a {
  text-decoration: none;
  color: #56A0D3;
  font-family: bold;
  font-size: 1.5em;
}
.sectionOne div a {
  color: #0091CD;
  font-family: light;
  padding-top: 3em;
  font-size: 1.25em;
  margin-bottom: 5em;
}
.sectionOne .gallrey {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: center;
}
.sectionOne div {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.sectionOne img {
  margin-top: 3em;
  display: block;
  width: 10vw;
}/*# sourceMappingURL=stylesheet.css.map */