@use "colors" as c;
@use "fonts";
@use "sections";

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: c.$lightGray;
}

nav {
    background-color: c.$White;
    -webkit-box-shadow: 0px 0px 23px 4px rgba(0,0,0,0.57); 
    box-shadow: 0px 0px 23px 4px rgba(0,0,0,0.57);
    padding: 2em 4em;

    img {
        width: 100px;
        margin-right: 2em;
    }

    a {
        text-decoration: none;
        font-family: bold;
        color: c.$coolGray;
        font-size: 20px;
        margin: 0 2em;
    }    
    .redA {
        color: c.$redCrossRed;
    }
}

main {
    max-width: 1350px;
    margin: auto;
    background-color: c.$White;
}

.imgSectionOne {
    @include sections.imgSectionOne;
}

.imgSectionTwo {
    @include sections.imgSectionTwo;
}